<footer>
  <div class="container footer-container">
    <div class="footer-container-logo">
      <a class="icon-logo" href=""
        ><svg class="logo-icon" width="16" height="16">
          <use href="/images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="icon-logo-text">
        <svg class="logo-icon" width="148" height="12">
          <use href="/images/icons.svg#icon-text"></use>
        </svg>
      </a>
      <p class="footer-logo-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-container-nav">
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-item"><a href=""></a> how it works</li>
          <li class="footer-item"><a href=""></a>vegetables</li>
          <li class="footer-item"><a href=""></a>reviews</li>
        </ul>
      </nav>
      <address>
        <a class="footer-lel-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
        <br />
        1678 S. Pioneer Road Salt <br />
        Lake City UT 84104
      </address>
    </div>
    <div>
      <div>
        <a href="">Privacy Policy</a> /
        <a href="">Cookie settings</a>
      </div>
      <div>
        <p class="copy">&copy;Green Harvest 2023</p>
      </div>
    </div>
  </div>
</footer>
