<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <div>
        <a class="logo" href=""
          ><svg class="logo-icon" width="18" height="18">
            <use href="../images/work.jpg">E</use></svg><svg class="logo-icon" width="18" height="18">
            <use href="../images/work.jpg">E</use></svg></a>
      </div>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="./partials/howitworks.html"
            >How It Works</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="./partials/vegetables.html"
            >Vegetables</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="./partials/reviews.html">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Shop now</button>
  </div>
  <!-- mob menu -->
  <div class="mob-menu is-open">
    <button type="button" class="mob-menu-close">
      <svg class="mob-icon-close" width="32" height="32">
        <use href="../">x</use>
      </svg>
    </button>
    <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="./partials/howitworks.html"
            >How It Works</a
          >
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="./partials/vegetables.html"
            >Vegetables</a
          >
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="./partials/reviews.html">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="mob-btn" type="button">Shop now</button>
  </div>
</header>
