<header class="header">
  <div class="container header-container">
    <div>
        <a class="logo" href=""
          ><svg class="logo-icon" width="16" height="16">
            <use href="../images/icons.svg#icon-logo"></use>
          </svg>
        </a>
            <svg class="logo-icon" width="148" height="12">
            <use href="../images/icons.svg#icon-logo-text"></use></svg></a>
      </div>
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="/src/partials/howitworks.html"
            >How It Works</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="/src/partials/vegetables.html"
            >Vegetables</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="/src/partials/reviews.html">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Shop now</button>
  </div>
  <!-- mob menu -->
  <div class="mob-menu is-open">
    <button type="button" class="mob-menu-close">
      <svg class="mob-icon-close" width="32" height="32">
        <use href="">x</use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="/src/partials/howitworks.html"
              >How It Works</a
            >
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="/src/partials/vegetables.html"
              >Vegetables</a
            >
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="/src/partials/reviews.html">Reviews</a>
          </li>
        </ul>
    </nav>
    <button class="mob-btn" type="button">Shop now</button>
  </div>
</header>
