<header class="header">
  <div class="container header-container">
    <div class="logo">
      <a class="icon-logo" href="./index.html" aria-label="visit main page"
        ><svg class="logo-icon" width="16" height="16">
          <use href="/images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="icon-logo-text" href="./index.html">
        <svg class="logo-icon-text" width="148" height="12">
          <use
            href="/images/icons.svg#icon-text"
            aria-label="visit main page"
          ></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a
            class="header-menu-link"
            href="#howitworks"
            aria-label="discover how it works"
            >How It Works</a
          >
        </li>
        <li class="header-menu-item">
          <a
            class="header-menu-link"
            href="#vegetables"
            aria-label="discover all the vegetables"
            >Vegetables</a
          >
        </li>
        <li class="header-menu-item">
          <a
            class="header-menu-link"
            href="#reviews"
            aria-label="read our customer reviews"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <a
      class="header-btn"
      type="button"
      href="#your-order"
      aria-label="open menu"
    >
      Shop now
    </a>
    <button type="button" class="open-menu-btn js-open-menu">
      <svg class="icon-menu-open" width="32" height="32">
        <use href="/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <!-- mob menu -->
  <!-- <div class="backdrop"> -->
  <div class="mob-menu js-menu-container">
    <button type="button" class="mob-menu-close js-close-menu">
      <svg class="mob-icon-close" width="32" height="32">
        <use href="/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item-work">
          <a
            class="mob-menu-link-work mob-nav-link"
            href="#howitworks"
            aria-label="discover how it works"
            >How It Works</a
          >
        </li>
        <li class="mob-menu-item-veg">
          <a
            class="mob-menu-link-veg mob-nav-link"
            href="#vegetables"
            aria-label="discover all the vegetables"
            >Vegetables</a
          >
        </li>
        <li class="mob-menu-item-rev">
          <a
            class="mob-menu-link-rev mob-nav-link"
            href="#reviews"
            aria-label="read our customer reviews"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <a
      class="mob-btn mob-nav-link"
      type="button"
      href="#your-order"
      aria-label="place your order"
      >Shop now</a
    >
    <!-- </div> -->
  </div>
</header>
