
<section class="organic">
    <div class="organic-block-1 block-1">
        <div class="organic-container">
            <div class="block-1-content">
            <div class="container">
                <h1 class="block-1-title">organic vegetables to your diet today!</h1>
                <p class="block-1-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
            </div>
            </div>
            <div class="block-1-image">
                <picture>
                    <img src="../images/hero/hero-img-1.jpg" alt="organic vegetables"
                    srcset="../images/hero/hero-img-1.jpg 1x, ../images/hero/hero-img-1.jpg">
                </picture>
            </div>
        </div>
    </div>
    <div class="organic-block-2">
            <div class="image-container">
                <div class="container">
                    <div class="block-2-image">
                        <picture>
                            <img src="./images/section1-2-image.jpg" alt="organic vegetables"
                            srcset="./images/section1-2-image.jpg 1x, ./images/section1-2-image@2x.jpg 2x">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-2-content-container">
                <div class="container">
                    <div class="block-2-content">
                        <h2 class="block-2-title">To order your <span class="block-2-span">vegetable</span> basket, simply follow these <span class="block-2-span">easy steps</span></h2>
                        <p class="block-2-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
                        <ul class="block-2-items">
                            <li class="block2-item">
                                <div class="block-2-item-number">1</div>
                                <p class="block-2-item-text">Just choose <span class="item-span">the vegetable</span> you want to order by clicking on the checkboxes <span class="item-span">next to it.</span></p>
                            </li>
                            <li class="block2-item">
                                <div class="block-2-item-number">2</div>
                                <p class="block-2-item-text">Click on <span class="item-span">the basket</span> and fill out the form.</p>
                            </li>
                            <li class="block2-item">
                                <div class="block-2-item-number">3</div>
                                <p class="block-2-item-text">Sit back and relax! Your <span class="item-span">fresh vegetables</span> basket will be delivered.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
   
    </div>
</section>
