<section id="reviews" class="container section-reviews">
  <h2 class="reviews-logo">
    reviews from our <span class="customers">customers</span>
  </h2>
  <p class="reviews-text">
    Words of our customers: impressions and opinions about the quality of our
    services and the freshness of our products.
  </p>
  <ul class="reviews-card">
    <li class="reviews-item">
      <ul class="reviews-list">
        <li class="reviews-list-content">
          <img
            class="reviews-photo"
            src="./images/reviews/johnwax.jpg"
            srcset="
              ./images/reviews/johnwax.jpg    1x,
              ./images/reviews/johnwax@2x.jpg 2x
            "
            alt="John personal photo"
          />
          <h3 class="reviews-name">John Wax</h3>
          <p class="reviews-customer-review">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>

        <li class="reviews-list-content">
          <img
            class="reviews-photo"
            src="./images/reviews/victoria.jpg"
            srcset="
              ./images/reviews/victoria.jpg    1x,
              ./images/reviews/victoria@2x.jpg 2x
            "
            alt="Victoria personal photo"
          />
          <h3 class="reviews-name">Victoria Romashenko</h3>
          <p class="reviews-customer-review">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
        <li class="reviews-list-content">
          <img
            class="reviews-photo"
            src="./images/reviews/ihor.jpg"
            srcset="
              ./images/reviews/ihor.jpg    1x,
              ./images/reviews/ihor@2x.jpg 2x
            "
            alt="Ihor personal photo"
          />
          <h3 class="reviews-name">Ihor Trachuk</h3>
          <p class="reviews-customer-review">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</section>
