<section id="vegetables" class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic<span class="vegetables-title-sp"> vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">eggplant</h3>
            <p class="vegetables-subtext">60 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/eggplant_mob_1x.png,
              ./images/vegetables/eggplant_mob_2x.png
            "
            src="./images/vegetables/eggplant_mob_1x.png"
            alt="eggplant"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          Eggplant is a vegetable from the nightshade family that grows in a
          variety of shapes, sizes, and colors. They range from small globes
          about two inches in diameter to more oblong and tubular varietals 12
          inches long or larger.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/eggplant_mob_1x.png,
              ./images/vegetables/eggplant_mob_2x.png
            "
            src="./images/vegetables/eggplant_mob_1x.png"
            alt="eggplant"
            width="140"
            height="120"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">leek</h3>
            <p class="vegetables-subtext">50 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/leek_mob_1x.png,
              ./images/vegetables/leek_mob_2x.png
            "
            src="./images/vegetables/leek_mob_1x.png"
            alt="leek"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          Like onions and other members of the Allium family, leeks are a
          bulbous vegetable with white flesh and leafy green tops. The bulb,
          however, is not round, but just slightly larger than the stem nearest
          the roots. The more rounded the bulb, the older the leek.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/leek_mob_1x.png,
              ./images/vegetables/leek_mob_2x.png
            "
            src="./images/vegetables/leek_mob_1x.png"
            alt="leek"
            width="140"
            height="120"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">mushrooms</h3>
            <p class="vegetables-subtext">40 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/mushrooms_mob_1x.png,
              ./images/vegetables/mushrooms_mob_2x.png
            "
            src="./images/vegetables/mushrooms_mob_1x.png"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          A mushroom or toadstool is the fleshy, spore-bearing fruiting body of
          a fungus, typically produced above ground, on soil, or on its food
          source. Toadstool generally denotes one poisonous to humans.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/mushrooms_mob_1x.png,
              ./images/vegetables/mushrooms_mob_2x.png
            "
            src="./images/vegetables/mushrooms_mob_1x.png"
            alt="mushrooms"
            width="140"
            height="120"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">corn</h3>
            <p class="vegetables-subtext">60 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/corn_mob_1x.png,
              ./images/vegetables/corn_mob_2x.png
            "
            src="./images/vegetables/corn_mob_1x.png"
            alt="corn"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          Corn is a tall annual cereal grass (Zea mays) that is widely grown for
          its large elongated ears of starchy seeds. The seeds, which are also
          known as corn, are used as food for humans and livestock and as a
          source of biofuel and can be processed into a wide range of useful
          chemicals.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/corn_mob_1x.png,
              ./images/vegetables/corn_mob_2x.png
            "
            src="./images/vegetables/corn_mob_1x.png"
            alt="corn"
            width="140"
            height="120"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">sweet potatoes</h3>
            <p class="vegetables-subtext">50 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/sweet_potatoes_mob_1x.png,
              ./images/vegetables/sweet_potatoes_mob_2x.png
            "
            src="./images/vegetables/sweet_potatoes_mob_1x.png"
            alt="sweet potatoes"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          Sweet potatoes are the root of a vine in the morning glory family and
          native to Central America or South America. Sweet potatoes are now
          grown in warm, moderate climates across the globe. The root is cooked
          before eaten and can be baked, fried, toasted, steamed, boiled,
          grilled, and more.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/sweet_potatoes_mob_1x.png,
              ./images/vegetables/sweet_potatoes_mob_2x.png
            "
            src="./images/vegetables/sweet_potatoes_mob_1x.png"
            alt="sweet potatoes"
            width="140"
            height="120"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-wrapper">
          <div class="vegetables-content">
            <h3 class="vegetables-subtitle">carrot</h3>
            <p class="vegetables-subtext">40 UAH / kg</p>
          </div>
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/carrot_mob_1x.png,
              ./images/vegetables/carrot_mob_2x.png
            "
            src="./images/vegetables/carrot_mob_1x.png"
            alt="carrot"
            width="282"
            height="243"
          />
        </div>
        <div class="vegetables-item-hover">
          The carrot is a root vegetable, typically orange in color. The most
          commonly eaten part of the plant is the taproot, although the stems
          and leaves are also eaten. The domestic carrot has been selectively
          bred for its enlarged, more palatable, less woody-textured taproot.
          <img
            class="vegetables-images"
            srcset="
              ./images/vegetables/carrot_mob_1x.png,
              ./images/vegetables/carrot_mob_2x.png
            "
            src="./images/vegetables/carrot_mob_1x.png"
            alt="carrot"
            width="140"
            height="120"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
