<section id="your-order" class="your-order">
  <div class="container">
    <h2 class="order-title element-animation1">
      Fresh <span class="order-accent">Harvest</span> Box has got you covered
    </h2>
    <p class="order-text-description element-animation2">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <div class="order-container-modal-social">
      <div class="modal element-animation1">
        <form>
          <!-- <div class="modal-container"> -->
          <p class="modal-title">
            Ordering <span class="modal-accent-first">from us</span> is quick
            and easy! Fill out
            <span class="modal-accent-second">the form</span> below and we will
            contact you !
          </p>
          <div class="inp-wrp">
            <input
              class="modal-input"
              type="text"
              name="user-name"
              placeholder="Full Name"
              pattern="([A-z0-9.-]{1,})@([A-z0-9.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="inp-wrp">
            <input
              class="modal-input inp"
              type="email"
              name="user-email"
              placeholder="Email"
              pattern="([A-z0-9.-]{1,})@([A-z0-9.-]{1,}).([A-z]{2,8})"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Invalid email, try again</p>
          </div>
          <textarea
            class="modal-textarea"
            name="user-comment"
            placeholder="Comment"
            id="user-comment"
          ></textarea>
          <button class="modal-btn" type="submit">Send</button>
          <!-- </div> -->
        </form>
      </div>
      <div class="order-social-networks element-animation2">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/order/order.jpg 1x, ./images/order/order-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/order/order-tab.jpg    1x,
              ./images/order/order-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/order/order-mob.jpg    1x,
              ./images/order/order-mob-2x.jpg 2x
            "
          />
          <img
            class="order-img"
            src="./images/order/order.jpg"
            alt="woman in sport-top makes herself bottle of water with fruits and lemon juice"
          />
        </picture>
        <p class="order-text-follow">Follow us on our social networks:</p>
        <ul class="order-list">
          <li class="order-item">
            <a
              class="order-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="check our instagram"
              >instagram</a
            >
          </li>
          <li class="order-item">
            <a
              class="order-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="visit our facebook"
              >facebook</a
            >
          </li>
          <li class="order-item">
            <a
              class="order-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="place an order"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
