.advert {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FBFBFB;
}

.container {
    padding: 0 10px;
}

.advert-title {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advert-text {
    color: #141414;
    font-family: "Inter Tight";
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.advert-accent {
    display: block;
    background-color: #576F35;
    color: #FBFBFB;
    border-radius: 12px;
    padding: 3px 10px 0 10px;
}

.advert-main {
    display: block;
    padding: 6px 10px 0 10px;
}