.advert {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FBFBFB;
}

.container {
    padding: 0 10px;
}

.advert-title {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advert-text {
    color: #141414;
    font-family: "Inter Tight";
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.advert-accent {
    display: block;
    background-color: #576F35;
    color: #FBFBFB;
    border-radius: 12px;
    padding: 3px 10px 0 10px;
}

.advert-main {
    display: block;
    padding: 6px 10px 0 10px;
}

@media screen and (min-width: 768px) {
    .advert {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        padding: 0 10px;
    }

    .advert-text {
        font-size: 64px;
        line-height: 1.09;
    }

    .advert-accent {
        display: block;
        width: 100%;
        padding: 8px 16px;
    }

    .advert-main {
        padding: 6px 16px 0 16px;
    }
}

@media screen and (min-width: 1280px) {

    .container {
        padding: 0 ;
    }

    .advert-text {
        font-size: 76px;
        line-height: 1.05;
        padding: 10px;
    }

    .advert-accent {
        display: inline;
        padding-left: 13px;;
    }

    .advert-main {
        display: inline-;
        padding: 0 13px;
    }
}