.advert {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbfbfb;
}

.container {
  padding: 0 10px;
}

.advert-title {
}

.advert-text {
  color: #141414;
  font-family: 'Inter Tight';
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.advert-accent {
  display: block;
  background-color: #576f35;
  color: #fbfbfb;
  border-radius: 12px;
  padding: 3px 10px 0 10px;
}

.advert-main {
  display: block;
  padding: 6px 10px 0 10px;
}

@media screen and (min-width: 768px) {
  .advert {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    padding: 0 10px;
  }

  .advert-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .advert-accent {
    display: block;
    width: 100%;
    padding: 8px 16px;
  }

  .advert-main {
    padding: 6px 16px 0 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
  }

  .advert-text {
    font-size: 76px;
    line-height: 1.05;
    padding: 10px;
  }

  .advert-accent {
    display: inline-block;
    padding: 3px 10px 0;
    max-width: 808px;
  }

  .advert-main {
    display: inline;
    padding: 6px 0;
  }
}
