.hero-wrapper {
  background-color: #576f35;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #576f35;
}

.hero-content {
  padding: 100px 0 40px 0;
}

.hero-title {
  font-family: 'Inter Tight';
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.015em;
  color: #fbfbfb;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-family: 'Inter Tight';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}

.hero-image {
  height: 370px;
  background-image: image-set(
    url(/images/hero/hero-img-m.jpg) 1x,
    url(/images/hero/hero-img-m@2x.jpg) 2x
  );
}

/* --------------------------------------------------------------*/

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 48px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 1.25;
  }
}

/* --------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .hero-content {
    padding: 122px 0 50px 0;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    width: 603px;
  }

  .hero-image {
    height: 539px;
    background-image: image-set(
      url(/images/hero/hero-img-tab.jpg) 1x,
      url(/images/hero/hero-img-tab@2x.jpg) 2x
    );
  }
}
/* --------------------------------------------------------------*/

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    display: flex;
    flex-direction: row;
  }
  .hero-container {
    padding: 0;
    display: contents;
  }
  .hero-content {
    padding: 238px 28px 50px 100px;
  }
  .hero-title {
    width: 502px;
    margin-bottom: 128px;
  }
  .hero-text {
    width: 472px;
  }
  .hero-image {
    min-width: 650px;
    height: auto;
    background-image: image-set(
      url(/images/hero/hero-img.jpg) 1x,
      url(/images/hero/hero-img@2x.jpg) 2x
    );
  }
}
