
@media screen and (min-width: 375px) {
    .hero-wrapper {
        width: 375px;
        margin: 0 auto;
        background-color: #576F35;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .hero-container {
      padding: 0 20px;
    }
    .hero-content {
        padding: 100px 0 40px 0;
    }
    .hero-title {
        font-family: 'Inter+Tight';
        font-weight: 600;
        font-size: 48px;
        line-height: 1;
        letter-spacing: -0.015em;
        color: #FBFBFB;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .hero-text {
        font-family: 'Inter+Tight';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        color: #FBFBFB;
    }
}
/* --------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .hero-wrapper {
        width: 768px;
    }
    .hero-container {
        padding: 0 32px;
    }
    .hero-content {
        padding: 122px 0 50px 0;
    }
    .hero-title {
        font-size: 76px;
        margin-bottom: 25px;
    }
    .hero-text {
        font-size: 16px;
    }
}
/* -------------------------------------------- */
@media screen and (min-width: 1158px) {
    .hero-wrapper {
        width: 1280px;
        display: flex;
        justify-content: space-between;
    }
    .hero-content {
        width: 50%;
    }
    .hero-image {
        width: 50%;
    }
    .hero-container {
        padding: 0;
    }
    .hero-content {
        width: 500px;
        padding: 188px 0 0 100px;
    }
}


    

