.vegetables {
  padding: 80px 0;
  background-color: #7a3145;
}

.vegetables-title {
  color: #fbfbfb;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.vegetables-title-sp {
  color: rgba(251, 251, 251, 0.3);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.vegetables-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
margin-bottom: 40px;
}

.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vegetables-item {
  display: flex;
  padding: 32px 26px;
  border-radius: 40px;
  background: #fbfbfb;
  flex-wrap: wrap;
  gap: 14px;
}

.vegetables-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.vegetables-images {
  position: relative;
  overflow: hidden;
  width: 282px;
  height: 243px;
  display: block;
}

.vegetables-item:hover .vegetables-slide {
  transform: translateY(0%);
}

.vegetables-facts {
  position: relative;
    overflow: hidden;
    width: 334px;

}

.vegetables-slide {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #291d20;
  background-color: #7a3145;
  padding: 62px 32px;
  text-align: center;
  border-radius: 20px;
  height: 100%;
  max-width: 100%;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vegetables-subtitle {
  color: #7a3145;
  font-family: 'Inter Tight';
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}

.vegetables-subtext {
  color: #141414;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .vegetables-title {
    font-size: 48px;
  }

  .vegetables-title-sp {
    font-size: 48px;
  }

  .vegetables-text {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding: 100px 0;
  }

  .vegetables-text {
    font-size: 16px;
    max-width: 626px;
    margin-bottom: 50px;
  }

  .vegetables-title {
    font-size: 64px;
    margin-bottom: 25px;
  }

  .vegetables-title-sp {
    font-size: 64px;
  }

  .vegetables-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 28px;
    align-items: center;
  }

  .vegetables-item {
    gap: 10px;
    width: calc((100% - 21px) / 2);
  }
}

@media screen and (min-width: 1280px) {

  .vegetables-item {
    width: calc((100% - 42px) / 3);
  }
}
