.vegetables {
    background-color: #7A3145;
}

.container {
    display: inline-flex;
    padding: 80px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.vegetables-title {
    color: #FBFBFB;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.vegetables-title-sp {
    color: rgba(251, 251, 251, 0.30);
    font-family: "Inter Tight", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.vegetables-text {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    max-width: 335px;
    text-align: left;
}

.vegetables-list {
<<<<<<< Updated upstream
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
=======
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;
>>>>>>> Stashed changes
}

.vegetables-item {
    display: flex;
    padding: 32px 26px;
    border-radius: 40px;
    background: #FBFBFB;
    flex-wrap: wrap;
    gap: 14px;
}

.vegetables-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.vegetables-images {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
}

.vegetables-subtitle {
    color: #7A3145;
    font-family: "Inter Tight";
    font-size: 28px;
    font-weight: 600;
    line-height: 1.0;
    letter-spacing: -0.02em;
}

.vegetables-subtext {
    color: #141414;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 375px) {}

@media screen and (min-width: 768px) {
<<<<<<< Updated upstream
    
}
=======
  .container-vegetables {
    padding: 100px 32px;
    gap: 50px;
  }

  .vegetables-title {
    font-size: 64px;
  }

  .vegetables-title-sp {
    font-size: 64px;
  }

  .vegetables-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
    justify-content: center;
  }

  .vegetables-item {
    flex-basis: calc ((100% - 20) / 2);
  }
}

@media screen and (min-width: 1280px) {}
>>>>>>> Stashed changes
