
@media screen and (min-width: 375px) {
.your-order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7A3145;
}

.order-title {
  width: 100%;
  margin-bottom: 29px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.order-accent {
  color: rgba(251, 251, 251, 0.3);
}
.order-text-description {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.modal {
  margin-bottom: 20px;
  padding: 40px 20px;
  border-radius: 30px;
  background: var(--light-text-color);
}
.modal-title {
  margin-bottom: 40px;
  color: var(--black-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.modal-accent-first {
  color: var(--red-background);
}
.modal-accent-second {
  color: var(--green-background);
}
.modal-input {
  width: 100%;
  background-color: transparent;
  outline: transparent;
  margin-bottom: 15px;
  padding: 14px 16px;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.2);
}
.modal-input::placeholder {
  color: var(--black-text-color);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.modal-input:focus {
  border-color: var(--red-background);
}

.modal-textarea {
  width: 100%;
  height: 91px;
  background-color: transparent;
  outline: transparent;
  padding: 14px 16px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid rgba(20, 20, 20, 0.2);
}

.modal-textarea::placeholder {
  color: var(--black-text-color);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.modal-textarea:focus {
  border-color: var(--red-background);
}

.modal-btn {
  display: block;
  padding: 16px 129px;
  margin: 0 auto;
  width: 100%;
  border-radius: 30px;
  background-color: var(--green-background);
  border: none;
  color: var(--light-text-color);
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.order-social-networks {
  padding: 40px 20px;
  border-radius: 30px;
  background: var(--green-background);
}

.order-container-img {
  margin-bottom: 20px;
  position: relative;
  /* width: 100%; */
  width: 295px;
}

.order-overlay {
  display: flex;
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    0deg,
    rgba(20, 20, 20, 0.3) 0%,
    rgba(20, 20, 20, 0.3) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.your-order-img {
  width: 295px;
  height: 273px;
  border-radius: 15px;
}

.order-text-follow {
  margin-bottom: 14px;
  color: rgba(251, 251, 251, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.015em;
}

.order-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.order-link {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
}
.order-slash {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.015em;
  margin-left: 8px;
  margin-right: 8px;
}
}

/* Adaptive */
@media screen and (min-width: 768px) {
  .your-order {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .order-title-text {
    width: 640px;
    margin-bottom: 50px;
  }

  .order-title {
    margin-bottom: 25px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.06em;
  }

  .order-text-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }

  .order-container-modal-social {
    padding-left: 38px;
    padding-right: 38px;
  }

  .modal {
    width: 628px;
    margin-bottom: 25px;
    padding: 50px 100px;
  }

  .modal-input {
    padding: 16px 16px;
  }

  .modal-textarea {
    height: 95px;
    padding: 16px 16px;
    margin-bottom: 25px;
  }

  .modal-btn {
    padding: 16px 191px;
    font-size: 18px;
    line-height: 1.11;
  }

  .order-social-networks {
    padding: 50px;
  }
.order-container-img {
    margin-bottom: 50px;
    width: 528px;
    height: 273px;
  }

  .order-overlay {
    display: flex;
    position: absolute;
    top: 0;
    background-image: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.3) 0%,
      rgba(20, 20, 20, 0.3) 100%
    );
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .your-order-img {
    width: 528px;
  }

  .order-text-follow {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.11;
  }

  .order-link {
    font-size: 32px;
    line-height: 1;
  }

  .order-slash {
    font-size: 32px;
    line-height: 1;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1158px) {







    
}
